*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f5f7;
}
.flex {
    display: flex;
}
.navbar {
    justify-content: space-around;
}
.mainlogoo {
    font-size: 2rem;
    color: blue;
}
.nav-links {
    gap: 40px;
    font-size: 2rem;
}
.link {
    color: #344563;
}
#menu-icon {
    display: none !important;
}
.hero-page {
    background-color: white;
    border-bottom-left-radius: 190px;
}
.hero-section {
    height: 846px;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
    background-image: url(/assets/Header\ bg@2x.png);
    background-size: contain;
    max-height: 846px;
}
.hero-content {
    flex-direction: column;
    gap: 20px;
}
.hero-head {
    font-size: 48px;
    font-weight: 700;
    width: 35%;
}
.hero-p {
    font-size: 25px;
    line-height: 28px;
    color: #344563;

    width: 73%;
}
.let-connect {
    color: #1d32f7;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.media-icon {
    height: 35px;
}
.icons {
    gap: 10px;
}