*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f5f7;
}

.flex {
    display: flex;
}

/* nav-bar */

.header-div {
    background-color: #3c3a39;
    width: 100%;
}

.nav-bar {
    justify-content: space-between;
    color: white;
    max-width: 1204px;
    align-items: center;
    padding: 10px 24px;
}

.nav-heading {
    font-size: 30px;
}

.nav-links {
    gap: 40px;
    align-items: center;
    font-size: 25px;
    display: none;
}
.nav-icon {
    display: flex;
    width: 24px;
}


/* hero-section */

.hero-page {
    background-color: white;
    border-bottom-left-radius: 190px;
    background-image: url(/assets/Header\ bg@2x.png);
    background-size: contain;
    max-height: 846px;
    background-position: center;
    background-repeat: no-repeat; 
    max-width: 1440px;
}
.hero-section {
    height: 846px;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
}
.hero-content {
    flex-direction: column;
    gap: 20px;
}
.hero-head {
    font-size: 48px;
    font-weight: 700;
    width: 35%;
}

.hero-p {
    font-size: 25px;
    line-height: 28px;
    color: #344563;

    width: 73%;
}

.let-connect {
    color: #1d32f7;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.media-icon {
    height: 35px;
}

.icons {
    gap: 10px;
}

.nav-head {
    max-width: 1440px;
    width: 100%;
}
.enable {
    color: blue;
}
.link {
    color: white;
    text-decoration: none;
}

/* card-section */

.cards {
    flex-direction: column;
    align-items: center;
    gap:142px;
    padding: 100px;
}
.card {
    background-color: white;
    max-width: 1156px;
    max-height: 496px;
    width: 100%;
    padding: 24px;
}
.card-img {
    max-width: 544px;
    width: 50%;
    border-radius:8px ;
}

.card-content {
    padding: 24px;
    flex-direction: column;
    gap: 24px;
}

.card-content > h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
}
.content-p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.languages {
    gap: 8px;
}

.lang {
    padding: 4px 12px;
    color: #6070ff;
    background-color: #ebebff;
    border-radius: 10px;
}

.content-btn {
    max-width: 126px;
    width: 100%;
    padding: 4px 12px;
    color: #6070ff;
    background-color: #ebebff;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid blue;
}

@media (max-width : 1100px) {
    .hero-head {
        width: 53%;
    }
}
@media (max-width : 500px) {
    .hero-head {
        width: 100%;
    }
    .hero-section {
        padding: 24px;
    }
    .hero-p {
        width: 100%;
    }
}
@media (min-width : 700px) {
    .nav-links {
        display: flex;
    }
    #nav-icon {
        display: none;
    }
}
@media (max-width : 1440px) {
    .card-content {
        gap: 15px;
    }
}